.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0px;
  }
}

