.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: 270px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin: 0;
  }
}

.advantages-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  border: transparent;
  &__icon {
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .advantages-box {
    width: 100%;
  }
  .advantages-item {
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .advantages-box {
    width: 100%;
  }
  .advantages-item {
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      display: flex;
      justify-content: center;
    }
  }
}
