.company-name {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--studio-name-color);
  margin-right: 93px;
}
.company-name > span:first-child {
  color: var(--hover-color);
}

@media screen and (max-width: 1199px) {
  .company-name {
    margin-right: 88px;
  }
}

@media screen and (max-width: 767px) {
  .company-name {
    margin-right: 0;
  }
}
