body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --hover-color: #2196f3;
  --background-color: #2f303a;
  --button-list-color: #f5f4fa;
  --studio-name-color: #000000;
  --header-border-color: #ececec;
  --portfolio-back-color: #e5e5e5;
}


